*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.one .container-fluid .second h1{
    font-size: 60px;
    color:rgb(56, 196, 56); 

}
.one .container-fluid .second .project-one{
    margin: 15px;
}
.one .container-fluid .second .project-one h3{
    font-size: 35px;
}
.one .container-fluid .second .project-one p{
    font-size: 20px;
}
.one .container-fluid .second .project-one .button-one a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}