*{
    margin: 0;
    padding: 0;
}
.one .container-fluid .first{
    margin-top: 40px;
}
@media(max-width:1230px)  {
    .one .container-fluid .first{
        display: none;
    }
    
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.one .container-fluid .second h1{
    font-size: 60px;
    color:rgb(56, 196, 56); 

}
.one .container-fluid .second .project-one{
    margin: 15px;
}
.one .container-fluid .second .project-one h3{
    font-size: 35px;
}
.one .container-fluid .second .project-one p{
    font-size: 20px;
}
.one .container-fluid .second .project-one .button-one a{
    text-decoration: none;
    color: white;
    
}

.one .container-fluid .second .project-two{
    margin: 15px;
}
.one .container-fluid .second .project-two h3{
    font-size: 35px;
}
.one .container-fluid .second .project-two p{
    font-size: 20px;
}
.one .container-fluid .second .project-two .button-one a{
    text-decoration: none;
    color: white;
    
}

.one .container-fluid .second .project-three{
    margin: 15px;
}
.one .container-fluid .second .project-three h3{
    font-size: 35px;
}
.one .container-fluid .second .project-three p{
    font-size: 20px;
}
.one .container-fluid .second .project-three .button-one a{
    text-decoration: none;
    color: white;
    
}

.one .container-fluid .second .project-four{
    margin: 15px;
}
.one .container-fluid .second .project-four h3{
    font-size: 35px;
}
.one .container-fluid .second .project-four p{
    font-size: 20px;
}
.one .container-fluid .second .project-four .button-one a{
    text-decoration: none;
    color: white;
    
}
